<div class="bg-homepage">
	<div class="content text-white flex justify-center items-center flex-col">
		<h2 class="text-2xl font-bold text-center"
			>Welcome to the No. 1 Online Class System in Nigeria</h2
		>

		<div class="btn-group">
			<p class="text-center my-5 text-xl font-bold">Log in as:</p>
			<a
				href="/student-login"
				class="p-2 mx-1 bg-yellow-500 font-bold rounded-lg"
				>Student</a
			>
			<a href="/teacher-login" class="p-2 mx-1 bg-blue-500 font-bold rounded-lg"
				>Teacher</a
			>
			<a href="/admin-login" class="p-2 mx-1 bg-red-500 font-bold rounded-lg"
				>Admin</a
			>
		</div>

		<p>Register as an Admin:</p>
		<a href="/admin-register" class="p-2 mx-1 bg-red-500 font-bold rounded-lg"
		>Register Admin</a
		>
	</div>
</div>
