<div class="bg-gray-200 h-screen w-full flex justify-center items-center">

      <% if(type == "student") { %>
      <div class="class bg-white rounded-lg h-auto shadow-xl p-5" style="width:300px">
        <p class="text-center my-1">
      <%= title  %> 
        </p>
      <form action="/register-student" class="w-100" method="POST">
        <% if(typeof message !== "undefined" && message.length > 0) { %>
          <%= message  %>
        <% } %>  
        <input type="text" name="fname" placeholder="First Name" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
        <input type="text" name="mname" placeholder="Middle Name" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
        <input type="text" name="lname" placeholder="Last Name" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
        <input type="date" name="dob" placeholder="Date of birth" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
        <div class="select-wrapper shadow-xl bg-gray-200 rounded-lg my-2">
        <select name="course" class="outline-none w-full rounded-lg">
            <option selected disabled>Select Course</option>
            <option value="science">Science</option>
            <option value="commercial">Commercial</option>
            <option value="arts">Arts</option>
        </select>
        </div>
        <div>
          <label for="">Transfer Student <span class="text-red-500">*</span></label>
          <div class="flex space-x-3 items-center">
              <input type="radio" name="transfer" id="yes" value="yes"> <label for="yes">Yes</label>
              <input type="radio" name="transfer" id="no" value="no" checked> <label for="no">No</label>
          </div>
        </div>
        <div>
          <label for="">Gender <span class="text-red-500">*</span></label>
          <div class="flex space-x-2 items-center">
              <input type="radio" name="gender" id="male" value="male" checked> <label for="male">Male</label>
              <input type="radio" name="gender" id="female" value="female"> <label for="female">Female</label>
          </div>
        </div>
        <a href="/dashboard"><p class="hover:text-yellow-500 transition duration-500 text-center my-2">Go back to dashboard</p></a>
        <button type="submit" class="font-bold bg-yellow-400 w-100 rounded-lg py-2 text-white font-medium transition hover:bg-yellow-500 mt-3" style="width:100%;">REGISTER</button>
      </form>
      </div>
    </div>
      <% } %>
      <% if(type === "teacher") { %> 
        <div class="class teacher bg-white rounded-lg h-auto shadow-xl p-5" style="width:300px">
          <p class="text-center my-1"><%= title  %> </p>
          <form action="/register-teacher" class="w-100" method="post">
            <% if(typeof message !== "undefined" && message.length > 0) { %>
              <%= message  %>
            <% } %>  
              <input type="text" name="fname" placeholder="First Name" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
              <input type="text" name="mname" placeholder="Middle Name" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
              <input type="text" name="lname" placeholder="Last Name" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
              <input type="date" name="dob" placeholder="Date of Birth(m-d-y)" class="border-b-2 outline-none p-2 transition focus:border-yellow-400 my-2" style="width:100%;">
              <div class="flex space-x-2 items-center">
                  <input type="radio" name="gender" value="male" id="male" checked> <label for="male">Male</label>
                  <input type="radio" name="gender" value="female" id="female"> <label for="female">Female</label>
              </div>
              <div class="select-wrapper shadow-xl bg-gray-200 rounded-lg my-2">
              <select name="role" class="outline-none w-full rounded-lg">
                  <option disabled selected>Select Role</option>
                  <option value="science">Science Teacher</option>
                  <option value="commercial">Commercial Teacher</option>
                  <option value="arts">Arts Teacher</option>
              </select>
              </div>
              <a href="/dashboard"><p class="hover:text-yellow-500 transition duration-500 text-center">Go back to dashboard</p></a>
              <button type="submit" class="font-bold bg-yellow-400 w-100 rounded-lg py-2 text-white font-medium transition hover:bg-yellow-500 mt-3" style="width:100%;">REGISTER</button>
          </form>
        </div>
      <% } %> 


      
        
        



